
$small: 600px;
$medium: 1000px;

body{
  direction: rtl;
  font-size: 18px;
}
.blog{
  margin-top: 5rem;
  h4 {
    font-weight: 800;
    font-size: 30px;
    color: #9c27b0;
  }

  p  {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }

  .line::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 10%;
    height: 2px;
    background:#9c27b0;
    inset-inline-end: 50%;
    transform: translate(-50%);
  }

  .article{
    background: #f4f5f8;
    padding: 0;
    transition: all 0.9s ease ;
    &:hover{
      transform: translateY(-20px);
      transition: all 0.9s ease ;
    }
    .article-wrapper{
      .text-blog{
        padding: 20px;
        h2{
          font-size: 1rem;
          font-weight: 600;
          padding: 1rem 0;
          margin-bottom: 2px;
        }
      }
      .img-blog{
        width: 100%;
        img{
          width: 100%;
          max-width: 100%;
        }
      }

    }

  }
  .button-blog{
    padding: 12px;
    background: #9c27b0;
    border-radius: 16px;
    color: white;
    font-size: 12px;
    transition: all 0.2s ease 0s;
    &:hover{
      background: #623f6e;
    }
  }
}
.blog-w{
  gap: 15px;
  .col-md-3{
    width: 24% !important;

  }

}









