.about{
  background: #f6f6f6;
  h1 {
    font-weight: 800;
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

  .line::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 10%;
    height: 2px;
    background: #9c27b0;
    inset-inline-end: 50%;
    transform: translate(-50%);
  }
  .article-about{

    .about-animite{

    }
    img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .box-content{

    }

  }

}