-
    addesinfo = [
        {
            title: "بازاریابی انلاین ",
            description: 'ایران ، تهران',
            icon: 'telegram',
        },

        {
            title: "تلفن",
            description: '09300282758',
            icon: "whatsapp"
        },
        {
            title: "ایمیل",
            description: 'Reyhane221233@gimil.com',
            icon: 'instagram'
        },
    ]



