-
    categoryInfo = [
        {
            title: "فرش ماشینی  ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/04.png',
        },
        {
            title: "فرش کلاسیک",
            description: 'بهترین روش های ست فرش با مبلمان باعکس آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/3.jpg',
        },
        {
            title: "فرش مدرن ",
            description: 'بهترین روش های ست فرش با مبلمان باعکس آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/2.jpg',
        },
        {
            title: "فرش مدرن ",
            description: 'بهترین روش های ست فرش با مبلمان باعکس آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/02.png',
        },


    ]
