-
     populatInfo= [
        {
            title: "گبه  ",
            description: " بهترین کیفیت ",
            button: 'مشاهده جزعیات ',
            img: 'assets/images/blog/19.webp',
        },
         {
             title: " کلاسیک  ",
             description: " بهترین کیفیت",
             button: 'مشاهده جزعیات ',
             img: 'assets/images/blog/16.webp',
         },

         {
             title: "گلیم ",
             description: " بهترین کیفیت",
             button: 'مشاهده جزعیات ',
             img: 'assets/images/blog/20.webp',
         },

         {
             title: "   مدرن ",
             description: " بهترین کیفیت ",
             button: 'مشاهده جزعیات ',
             img: 'assets/images/blog/21.webp',
         },
     ]