-
    sliderInfo = [
        {
            main: 'assets/images/slider/02.png',
            md: "assets/images/slider/03-md.png",
            sm: "assets/images/slider/03-sm.png",
        },


        {
            main: 'assets/images/slider/01.png',
            md: "assets/images/slider/03-md.png",
            sm: "assets/images/slider/03-sm.png",
        },

    ]


