.header-logo(href='index.html')
    img.lazyload(src='assets/images/content/logo.png' data-src='assets/images/content/icen-logo.png' alt=siteInfo.title)

    // this h1 tag must be span on the other pages
    .logo-heder






        