nav.main-navbar
    .navbar-overlay
    ul.main-nav.nav

        li.main-nav__item.d-lg-none
            a.main-nav__link.logo(href="index.html")


        li.main-nav__item
            a.main-nav__link.active(href="index.html")
                span خانه

        li.main-nav__item
            a.main-nav__link(href='#')

                span محصولات


            .sub-nav-wrapper
                ul.sub-nav.nav

                    li
                        a.sub-nav__link(href='product-archive.html')
                            span محصول شماره یک

                    li
                        a.sub-nav__link(href='product-archive.html')
                            span محصول شماره دو

                    li
                        a.sub-nav__link(href='product-archive.html')
                            span محصول شماره سه

                    li
                        a.sub-nav__link(href='product-archive.html')
                            span محصول شماره چهار


        li.main-nav__item
            a.main-nav__link(href='blog-archive.html')
                span وبلاگ
        li.main-nav__item
            a.main-nav__link(href='about-us.html')
                span درباره ما

        li.main-nav__item
            a.main-nav__link(href='contact-us.html')
                span تماس با ما
    a.Proposal-a()
      .icon-connect.icon-instagram-rd
          i.icon-telegram
      .icon-connect-a.icon-connect
          i.icon-instagram
      .icon-connect-a.icon-connect
          i.icon-facebook
      .icon-connect.icon-rdus
          i.icon-linkedin


