.icon-header.row.d-flex
    .header-conntent.d-flex.gap-2.justify-content-center.align-items-center
        .icom-phon.d-flex
            .tel-header
                p شماره تماس
                span 0913260354
            .icom-heder
                i.icon-phone









