.header-box.d-flex.gap-2
    input(type='text')
    button.search-button-item
        span.main-btn__icon.icon-search
    //ul.lang-list.item.flag.active.d-flex
    //    li
    //      a.active(href='#')
    //        span FA
    //    li
    //      a(href='#')
    //        span EN


