header#main-header

    .container
        .row.main-header-wrapper

            include _header-nav-toggle
            .col-lg-4.col-md-3
                include _header-logo
            .col-lg-4.heder-input.col-md-3
                include _input-header
            .col-lg-4.w.col-md-3
                include _header-items


.col-lg-auto.container
    include _header-main-nav


        // main header wrapper
    // container
// main header