.about-us
    .container
        .row
            .col-lg-6.col-md-12.col-sm-12.col-xs-12
                .watch_video_img
                    img(src='assets/images/about/aboutus.png')
            .col-lg-6.col-md-12.col-sm-12.col-xs-12.d-flex.align-items-center
                .watch_video.py-3.py-lg-0
                    h2 با شرکت ما آشنا شوید!
                    p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایا
                    p.mt-2 لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.

