//.about.py-xl-5
//    .container
//        div.row.gap-4.justify-content-md-center.col-md-12
//            div.line.position-relative
//                h1.justify-content-md-center.d-flex یک تیم خلاق
//            p.text-center برای هر نوع بحثی با کارشناسان ما ملاقات کنید
//
//
//        div.article-card.container.border.mt-3
//         div.row
//            mixin article
//                .article-about.col-lg-3.col-sm-6.col-xs-12.border
//                    img.img-category(src='assets/images/about/team-2.png')
//                    div.box-content
//                        div.overlay
//                         div.overlay-animite
//                           h3.title-box محمد محمدی
//                           span.post طراح لوگو
//                    .article-about
//
//            //- Use
//            +article
//            +article
//            +article
//            +article