.blog.container
    div.row.col-md-12
        div.line.position-relative
            h4.text-center وبلاگ
    div.article-card
    .row.mt-5.py-2.blog-w
        each item in categoryInfo
            +article(item)
        .btn-blog.col-md-12.d-flex.justify-content-center.mt-5
            a.button-blog(href='blog-archive.html') مشاهده ی همه ی مطالب
