.buy-now
    .container.text-center
        .row.buy_now_bg
            .col-md-12
                h3 برای شروع با ما آماده اید؟
            .link-buy-now
                a.link-buy-now(href='#') همین حالا خرید کن