.slider
    .container
        .row
            .col-12
                div#slideshow
                    ul.bxslider
                        li
                          img(src='assets/images/slider/01.png')
                        li
                          img(src='assets/images/slider/02.png')
                        li
                            img(src='assets/images/slider/02.png')


