.newsletter.py-5
    .container
        .row.gap-4.justify-content-md-center.col-md-12
            .line.position-relative
                h2.text-center از جدید ترین اخبار ما ، با خبر شوید.
            .newsletter_form.d-flex.justify-content-center.align-items-center.gap-2
                input.input-newsletter(
                    type='email'
                    name='agreement'
                    placeholder='آدرس ایمیل '
                )
                div.input-group-btn
                 button(type=button) عضویت


