.products.py-5
   .container
     div.row.gap-4.justify-content-md-center.col-md-12
        div.line.position-relative
            h4.text-center.mt-5  دسته بندی ها
        .col-md-12.position-relative
           +product()

