mixin popular(popular)
    .col-lg-12.col-sm-12.col-xs-12.grid-box-popular.mt-4.owl-carousel.owl-theme.popularSlider.mb
        .box-popular.border-redus-r.border-p
            .img
               img.image-redus.image.image-redus-p(src='assets/images/blog/81.jpg')
               .middle-p
                   .text-p
                       i.icon-eye
                       p مشاهده جزعیات
            .text-popular
                p فرش افشان
                span بهترین روش های ست فرش با مبلمان باعکس آیا میدانید فرش را با چه چیزی ست کنید؟
        .box-popular.border-p
            .img
                img.image.image-redus-p(src='assets/images/blog/78.jpg')
                .middle-p
                    .text-p
                        i.icon-eye
                        p مشاهده جزعیات
            .text-popular
                p فرش هالیدی
                span بهترین روش های ست فرش با مبلمان باعکس آیا میدانید فرش را با چه چیزی ست کنید؟

        .box-popular.border-p
            .img
                img.image.image-redus-p(src='assets/images/blog/79.jpg')
                .middle-p
                    .text-p
                        i.icon-eye
                        p مشاهده جزعیات
            .text-popular
                p فرش کرمان.
                span بهترین روش های ست فرش با مبلمان باعکس آیا میدانید فرش را با چه چیزی ست کنید؟


        .box-popular.border-redus-p.border-p
            .img
                img.image-redus-p.image(src='assets/images/blog/80.jpg')
                .middle-p
                    .text-p
                        i.icon-eye
                        p مشاهده جزعیات
            .text-popular
                p فرش کلاسیک
                span بهترین روش های ست فرش با مبلمان باعکس آیا میدانید فرش را با چه چیزی ست کنید؟













