mixin popular(popular)
    .px-2.col-lg-3.col-sm-6.col-xs-12
      .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative.mt-3
               h3.text-center=popular.title
                p=popular.description
               a.popular-a(href='#')=popular.button
               img.img-popular(src=popular.img)














