//- Declaration
mixin product()
    .row.w-83
        .products-content
            .products-card
                .popular-s.row
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative.products-box
                        img.image(src='assets/images/blog/19.webp')
                        .middle
                           h3.text.text-center فرش دستباف
                           p برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                .popular-s.row.mt-10
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative.products-box.products-box
                        img.image(src='assets/images/blog/20.webp')
                        .middle
                          h3.text-center فرش ماشینی
                          p برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
            .products-card
                .popular-s.row
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative.products-box.products-box
                        img.image(src='assets/images/blog/21.webp')
                        .middle
                           h3.text-center فرش طرح افشان
                           p برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                .popular-s.row.mt-10
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative.products-box.products-box
                        img.image(src='assets/images/blog/07.png')
                        .middle
                            h3.text-center فرش دستباف
                            p برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت

            .products-card
                .popular-s.row
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative.box-w.products-box.products-box
                        img.image(src='assets/images/blog/07.png')
                        .middle
                            h3.text-center.top-box فرش کلاسیک
                            p.p-box برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت


























