//- Declaration
mixin product()
    .row
        .products-content
            .products-card
                .popular-s.py-1.row
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative
                        h3.popular-a.text-center فرش دستباف
                        p.popular-a برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        img(src='assets/images/blog/19.webp')
                .popular-s.py-1.row
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative
                        h3.popular-a.text-center فرش ماشینی
                        p.popular-a برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        img(src='assets/images/blog/20.webp')
            .products-card
                .popular-s.py-1.row
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative
                        h3.popular-a.text-center فرش طرح افشان
                        p.popular-a فرش کلاسیک تافته رویال طرح افشان سنا کرم بژ
                        img(src='assets/images/blog/21.webp')
                .popular-s.py-1.row
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative
                        h3.popular-a.text-center فرش دستباف
                        p.popular-a برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        img(src='assets/images/blog/07.png')
            .products-card
                .popular-s.py-1.row
                    .project-single.d-flex.justify-content-center.align-items-center.flex-column.position-relative.box-w
                        h3.text-center.popular-a فرش کلاسیک
                        a.popular-a برای تغییر این متن بر روی دکمه ویرایش کلیک کنید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        img(src='assets/images/blog/07.png')

























