-
    blog = [
        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/1.jpg',
        },
        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/2.jpg',
        },
        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/3.jpg',
        },
        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/6.jpg',
        },

        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/6.jpg',
        },
        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/5.jpg',
        },
        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/5.jpg',
        },
        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/1.jpg',
        },
        {
            title: "بازاریابی انلاین ",
            description: 'بهترین روش های ست  با مبلمان باعکس|آیا میدانید فرش را با چه چیزی ست کنید؟',
            img: 'assets/images/blog/2.jpg',
        },

    ]