mixin article(cardInfo)
    .article
        .article-wrapper
          .img-blog
            img.img-category(src=cardInfo.img)
            .text-blog
              h2= cardInfo.title
              p.title=cardInfo.description