include variable/_site-info
include variable/_social-icon-info
include variable/_product-info
include variable/_breadcrumb-info
include variable/_Popular-info
include card/blog-archive-card
include variable/blog-artichle

